## 1. Run and print the following scenarios’ results in Python programming. You can use Python editor from python.org or Colab Research.

a) a = 5, b = 9, c = a + b, d = b (mod 4), e = b^4, f = c*a, c = c + 12

b) x1 = False, x2 = False, x1 OR x2, x1 AND x2

c) hello = “Russellville”, please print the last 4 characters.

In [1]:
# a)
a = 5
b = 9
c = a + b
print(c)

d = b % 4
print(d)

e = b**4
print(e)

f = c * a
print(f)

c = c + 12
print(c)

# b)
x1 = False
x2 = False
print(x1 or x2)
print(x1 and x2)

# c)
hello = "Russellville"
print(hello[-4:])

14
1
6561
70
26
False
False
ille

## 2. Define an array for these numbers: 4, 2, 8, 81, 35, 47

a) Print the third element.

b) Print the first three elements.

c) Sort the elements in descending order and print them.

d) Print the sum of the elements.

In [2]:
arr = [4, 2, 8, 81, 35, 47]

# a)
print(arr[2])

# b)
print(arr[0:3])

# c)
arr.sort(reverse = True)

sum(arr)
### Numpy
import numpy as np
arr = np.array([4, 2, 8, 81, 35, 47])
print(arr[2])
print(np.sort(arr)[::-1])
np.sum(arr)

8
[4, 2, 8]
8
[81 47 35  8  4  2]

177

## 3. List = [‘Arkansas’, ‘Tech’, ‘University’, ‘is’, ‘in’, ‘Russellville’] is a string array.

a) Print the third element of the List.

b) Remove ‘in’ from the List and print the rest of the List.

c) Add ‘Ozark’ into the list and print the updated List.

In [3]:
lst = ['Arkansas', 'Tech', 'University', 'is', 'in', 'Russellville']

# a)
print(lst[2])

# b)
# lst.pop(4)
# print(lst)
lst.remove("in")
print(lst)

# c)
lst.append("Ozark")
print(lst)

### If there are two lists, how to concatenate two lists? 
### Naive Way
# Initializing lists
test_list1 = [1, 4, 5, 6, 5]
test_list2 = [3, 5, 7, 2, 5]
  
# using naive method to concat
for i in test_list2 :
    test_list1.append(i)
  
# Printing concatenated list
print ("Concatenated list using naive method : " 
                              + str(test_list1))


### concatenation using + operator 
# Initializing lists
test_list3 = [1, 4, 5, 6, 5]
test_list4 = [3, 5, 7, 2, 5]
  
# using + operator to concat
test_list3 = test_list3 + test_list4
  
# Printing concatenated list
print ("Concatenated list using + : "
                   + str(test_list3))

University
['Arkansas', 'Tech', 'University', 'is', 'Russellville']
['Arkansas', 'Tech', 'University', 'is', 'Russellville', 'Ozark']
Concatenated list using naive method : [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]
Concatenated list using + : [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]